body {
    background: black;
    height: 100%;
    min-height: 100%;
}


#canvas {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}
.main-logo{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    opacity: 0.5;
    position: fixed;
}
.about{
    width: 100%;
    margin: auto;
    color: white
}

body {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-kerning:auto;
    -webkit-font-smoothing: antialiased;    
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
  }
  
  html,
  body {
    width: 100vw;
    height: 100vh;
  }
  
  body {    

    transform-style: preserve-3d;
    transform: perspective(60rem);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  a{
    text-decoration: none;
  }

  .Menu{
    top: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
  .Menu-list {
    font-size: 2.25rem;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    transform: rotateX(-10deg) rotateY(20deg);
  }
  
  .Menu-list-item {
    position: relative;
    color: transparent;
    cursor: pointer;
  }
  .Menu-list-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 49%;
    left: -10%;
    right: -10%;
    height: 4px;
    border-radius: 4px;
    margin-top: -2px;
    background: rgb(255, 69, 0);
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    z-index: 1;
  }
  
  .Mask {
    display: block;
    position: absolute;
    overflow: hidden;
    color:rgb(255, 69, 0);
    top: 0;
    height: 49%;
    transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  }
  .Mask span {
    display: block;
  }
  
  .Mask + .Mask {
    top: 48.9%;
    height: 51.1%;
  }
  .Mask + .Mask span {
    transform: translateY(-49%);
  }
  
  .Menu-list-item:hover .Mask,
  .Menu-list-item:active .Mask {
    color: #FFF;
    transform: skewX(12deg) translateX(5px);
  }
  .Menu-list-item:hover .Mask + .Mask,
  .Menu-list-item:active .Mask + .Mask {
    transform: skewX(12deg) translateX(-5px);
  }
  .Menu-list-item:hover::before,
  .Menu-list-item:active::before {
    transform: scale(1);
  }